#============= servicemanager ==============
allow servicemanager init:dir { search open read };
allow servicemanager init:file {open read};
allow servicemanager init:process getattr;
